@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: #fff;
    transition: 0.5s;
}

.showcase.active {
    position: absolute;
    right: 300px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    padding: 40px 100px;
    z-index: 10;
    border: 1px solid #fff;
}

header .logo {
    height: 100px;
    width: 170px;
    cursor: pointer;
    border: 1px solid #fff;
}

header h1 {
    text-transform: uppercase;
    cursor: pointer;
    border: 1px solid #fff;
}

header .toggle {
    margin-left: auto;
    background: url("./images/menu.png");
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


header .toggle.active {
    background: url("./images/close.png");
    width: 60px;
    height: 60px;
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* ここは最初は消しといて、最後に右のバーに設定する */
.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: -1;
}

.menu ul {
    list-style: none;
    font-size: 24px;
}

.menu li {
    margin-top: 20px;
}

.menu ul li a {
    display: block;
    border: none;
    text-decoration: none;
    color: #111;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #03a9f4;
    text-decoration: underline;
    transform: scale(1.1);
}


.showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #858687;
    mix-blend-mode: overlay;
}

.text {
    position: relative;
    z-index: 10;
    border: 1px solid #fff;
}

.text h2 {
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    line-height: 1em;
}

.text h3 {
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    line-height: 1em;
}

.text p {
    font-size: 1.1rem;
    max-width: 700px;
    margin: 20px 0;
    color: #fff;
}

.text a {
    width: 200px;
    border-radius: 30px;
    text-align: center;
    display: block;
    background: #fff;
    text-decoration: none;
    color: #111;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.3s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    width: 15vw;
    padding: 10px 0;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #fff;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    transition: 0.3s;
}

.social li a:hover {
    transform: translateY(-15px);
}

@media (max-width: 1024px) {

    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3rem;
    }

    .text h3 {
        font-size: 2rem;
    }
}