* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    font-size: 1.2rem;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(106, 63, 126), rgb(185, 69, 69));
    overflow: hidden;
    /* はみ出た部分を隠す */
    position: relative;
}

nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px auto;
    position: sticky;
    font-weight: 550;
    z-index: 10;
    border: 1px solid rgb(0, 0, 0);
}

nav .logo-area {
    width: 30vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}

nav .logo-area .logo {
    width: 100px;
    height: 100px;
    margin-right: 12px;
    border: 1px solid rgb(0, 0, 0);
}


nav .nav-links {
    /* 空いてるスペースの余白を強制的に入れてる。flex-growと同じ。 */
    flex: 1;
    /* インライン要素だから右寄せできる。a */
    text-align: right;
    border: 1px solid rgb(0, 0, 0);
}

nav .nav-links ul {
    list-style: none;
}

nav .nav-links ul li {
    display: inline-block;
    padding: 10px 2rem;
    border: 1px solid rgb(0, 0, 0);
}

nav .nav-links ul a {
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

nav .nav-links ul a:hover {
    color: rgb(236, 183, 183);
    text-decoration: underline;
}

.infomation {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    border: 1px solid rgb(0, 0, 0);
}

#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 1s;
    border: 1px solid rgb(0, 0, 0);
}

.feature {
    position: absolute;
    display: flex;
    color: #fff;
}

.feature img {
    width: 70px;
}

.feature div {
    margin-left: 20px;
}

.feature div a {
    margin-top: 8px;
}

.one {
    top: 450px;
    right: 70px;
}

.two {
    top: 100px;
    left: 340px;
    transform: rotate(-90deg);
}

.three {
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);

}

.four {
    bottom: 150px;
    right: 370px;
    transform: rotate(-270deg);

}

.mobile {
    width: 400px;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    left: 27%;
    /* 調整中 */
}

.control {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
}

.control img {
    width: 15px;
}

.control h3 {
    margin: 20px 0;
    color: #fff;
}

.upBtn {
    cursor: pointer;
    transition: all 0.3s;
}

.upBtn:hover {
    transform: scale(2);
}

.downBtn {
    cursor: pointer;
    transition: all 0.3s;
    transform: rotate(-180deg);
}

.downBtn:hover {
    transform: scale(2) rotate(-180deg);
}


.overlay {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
    border-top: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-left: 500px solid #fff;
}

.footer {
    position: absolute;
    right: 10%;
    bottom: 15%;
    width: 100%;
    text-align: right;
    color: #fff;
    z-index: 10;
    border: 1px solid rgb(0, 0, 0);
}