@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("images/bg.jpg");
    background-position: center;
    background-size: cover;
}

nav {
    width: 100%;
    text-align: center;
}

nav h2 {
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 450;
}


nav ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.text {
    padding: 20px 10%;
}

nav.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all 0.6s;
}

nav.sticky .logo {
    flex: 2;
}

nav.sticky ul {
    flex: 5;
    background: transparent;
}

nav.sticky ul li {
    margin: 20px 10px;
}