* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: black;
}

canvas {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid white;
}

header h2 {
  font-size: 2rem;
}

header ul {
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

header ul a {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  color: white;
}


.hero {
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
}

.hero h1 {
  font-size: 100px;
  padding: 0px;
}

.hero p {
  font-size: 30px;
}

.hero button {
  width: 200px;
  height: 50px;
  color: white;
  font-size: 20px;
  font-weight: 50px;
  text-align: center;
  line-height: 50px;
  margin: 30px auto;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  transition: 0.4s;
  cursor: pointer;
}

.hero button:hover {
  font-size: 1.5rem;
  color: black;
  background: white;
  border: 1px solid black;
}