* {
	padding: 0;
	margin: 0;
}

body {
	font-family: "WDXL Lubrifont SC", sans-serif, Arial, sans-serif;
	font-style: normal;
	background-color: #f4f4f4;
	color: #333;
	/*line-height: 1.6;*/
}




header {
	background: #50b3a2;
	color: #fff;
	top: 0px;
	width: 100%;
	height: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: fixed;
	opacity: 0.8;
	z-index: 1000;
}



header img {
	width: 60px;
	height: 60px;
	margin-left: 20px;
	border-radius: 50%;
}

header h1 {
	font-size: 30px;
	text-align: center;
	letter-spacing: 10px;
	margin-left: 0px;
	flex: 1;
}

header menu {
	text-align: center;
	flex: 2;
}


header menu ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 20px;
}

header menu ul li {
	padding: 0 10px;
}

header a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

header a:hover {
	text-decoration: underline;
}


main .top-holder {
	background-color: rgb(255, 255, 255);
	height: 80px;
}

main .item-list {
	background-color: burlywood;
	height: 350px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 20px 20px;
}

main .item {
	border: 1px solid #ccc;
	color: #fff;
	background-color: rgb(0, 0, 0);
	width: 200px;
	height: 350px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main .item:hover {
	transform: scale(1.1);
	box-shadow: none;
}

main .item img {
	width: "200";
	height: "200";
	border-radius: 10px;
}

main .item .item_description {
	margin-top: 10px;
	padding: 0 20px;
}

main .item .item_down {
	margin-top: auto;
	margin-bottom: 10px;
}

main .item button {
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 50px;
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	transition: all 0.3s ease;
}

main .item button:hover {
	background-color: #fff;
	color: #000;
}





main .cart {
	background-color: rgb(33, 238, 238);
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

main .cart h2 {
	margin-top: 10px;
}

main .cart .count {
	margin-top: 10px;
}

main .cart-items {
	display: flex;
	flex-direction: row;
}

main .cart-item {
	width: 100px;
	height: 100px;
	margin-top: 10px;
	padding: 10px 20px;
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
}

.cart button {
	margin-top: 10px;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 50px;
	background-color: #000;
	color: #fff;
	padding: 10px 20px;
	transition: all 0.3s ease;
}

.cart button:hover {
	background-color: #fff;
	color: #000;
}








main .section3 {
	background-color: rgb(238, 149, 33);
	height: 400px;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

main .section3 img {
	width: 400px;
	height: 400px;
	margin-right: 100px;
}






footer {
	background: #50b3a2;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}